<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jianjieming.study.mapper.GoodsCategoryMapper">

    <select id="findById" resultType="Category">
        select *
        from tb_goods_category
        where category_id = #{categoryId}
    </select>

    <resultMap id="categoryMap" type="Category">
        <collection property="goodsList" ofType="Goods"/>
    </resultMap>

    <select id="findAllWithGoods" resultMap="categoryMap">
        select cgr.category_id, cgr.category_name, good.goods_id, good.goods_name, good.goods_price
        from tb_goods_category cgr
                 left join tb_goods good on cgr.category_id = good.category_id
    </select>

</mapper>