<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jianjieming.study.mapper.OrderMapper">

    <resultMap id="orderMap" type="Order" extends="commons.orderMap">
        <collection property="tbOrderItemList" ofType="OrderItem" resultMap="orderItemMap"/>
    </resultMap>
    <resultMap id="orderItemMap" type="OrderItem" extends="commons.orderItemMap">
        <association property="goods" javaType="Goods" resultMap="commons.goodsMap"/>
    </resultMap>

    <resultMap id="orderMoneyMap" type="OrderMoney" extends="commons.orderMap">
        <result column="money" property="money"/>
        <collection property="tbOrderItemList" ofType="OrderItem" resultMap="orderItemMap"/>
    </resultMap>

    <!--定义带参数的sql片段-->
    <sql id="sql-join-order-item">
        ${a}.order_id,
        ${a}.order_code,
        ${b}.order_item_id,
        ${b}.goods_qty
    </sql>

    <!--定义sql片段-->
    <sql id="sql-order">
        select
        <include refid="sql-join-order-item">
            <!--为带参数的sql片段传值-->
            <property name="a" value="oder"/>
            <property name="b" value="toi"/>
        </include>,
        good.goods_id,
        good.goods_name,
        good.goods_price
        from tb_order as oder
        left join tb_order_item toi on oder.order_id = toi.order_id
        left join tb_goods good on toi.goods_id = good.goods_id
    </sql>


    <select id="queryOrderAndGoods" resultMap="orderMap">
        # 引入某个sql片段
        <include refid="sql-order"/>
    </select>

    <select id="queryOrderAndOrderItemAndGoods" resultMap="orderMap">
        <include refid="sql-order"/>
        where toi.order_id = #{orderId}
    </select>

    <select id="queryOrderMoney" resultMap="orderMoneyMap">
        select to2.order_id, to2.order_code, sum(good.goods_price * toi.goods_qty) as money
        from tb_order as to2
                 left join tb_order_item toi on to2.order_id = toi.order_id
                 left join tb_goods good on toi.goods_id = good.goods_id
        group by to2.order_id;
    </select>

</mapper>