<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="db.properties"></properties>

    <typeAliases>
        <typeAlias type="com.jianjieming.study.entity.TbGoodsCategory" alias="Category"/>
        <typeAlias type="com.jianjieming.study.entity.TbGoods" alias="Goods"/>
        <typeAlias type="com.jianjieming.study.entity.TbUser" alias="User"/>
        <typeAlias type="com.jianjieming.study.entity.TbOrder" alias="Order"/>
        <typeAlias type="com.jianjieming.study.entity.TbOrderItem" alias="OrderItem"/>
        <typeAlias type="com.jianjieming.study.entity.OrderMoney" alias="OrderMoney"/>
        <typeAlias type="com.jianjieming.study.entity.UserMoney" alias="UserMoney"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="com/jianjieming/study/mapper/CommonsMapper.xml"/>
        <package name="com.jianjieming.study.mapper"/>
    </mappers>

</configuration>