<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="com.lanou3g.netctoss"/>

    <!--创建事务管理器-->
    <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="transactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--开启切面的事务管理-->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!--&lt;!&ndash;配置切面&ndash;&gt;-->
    <!--<bean class="" id="">-->

    <!--</bean>-->

    <aop:aspectj-autoproxy/>

    <!--<aop:config>-->
        <!--<aop:pointcut id="allServiceMethod" expression="execution(* com.lanou3g.netctoss.service.*.*(..))"/>-->
        <!--<aop:aspect ref="" order="1">-->
            <!--<aop:before method="beforeInvoke" pointcut-ref="allServiceMethod"/>-->
            <!--<aop:after method="afterInvoke" pointcut-ref="allServiceMethod"/>-->
        <!--</aop:aspect>-->
    <!--</aop:config>-->

</beans>